<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            h3{
                color: red;
            }
        </style>
    </head>
    <body>
        {% if message %}
            <h3> {{message}}</h3>
        {% endif %}

        <p> <a href="{% url 'polls:index' %}"> Voltar a todas as enquetes </a></p>
        <h2> <i>{{ question.question_text }}</i></h2>
        <form method="POST" action="{% url 'polls:vote' question.id %}">
            {% csrf_token %}
            <fieldset>
            {% for choice in question.choice_set.all %}
                <input type="radio" id="question({{forloop.counter}})" name="option" value="{{choice.id}}">
                <label for="question-{{forloop.counter}}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Votar">
            <p> </p><a href="{% url 'polls:index' %}">  Cancelar  </a> <p>
            </fieldset>
        </form>
    </body>
</html>