<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <style>
        h4:hover{
            color: blue;
        }
        .polls{
            width: 60%;
            margin-left: 0px;
            align: left;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
    <body>
        <h2> Enquetes </h2>
        <hr>
        {% if not questions %}
            <p> Sem enquetes disponíveis </p>
        {% else %}
            {% for question in questions %}
                <h4> <a href="{% url 'polls:details' question.id %} "><i>{{ question.question_text }} </i></a> </h4>
                <p> <a href="{% url 'polls:result' question.id %}"> Ver resultado parcial da enquete</a></p>
                <hr class="polls">
            {% endfor %}
        {% endif %}
    </body>
</html>